rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthed() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthed() && request.auth.token.email in ['admin@example.com'];
    }

    match /enrollment/{userId}/{fileName} {
      allow read: if isAuthed();
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
